/* 
Proceeding with Good Approach : 
Desktop First Apprach
 using the analytics data for most used devices wrt to their width

 0-600px : Phone
 600-900px : Tablet Portrait
 900-1200px : Tablet Landscape
1200-1800 : Desktop (where normal styles apply)
1800+ : Big screens


*/
/* $breakpoint arguments 
//   phone: '37.5em',
//   ipad: '48em',
//   ipadPro: '64em',
//   Laptop: '85.5em',
//   Desktop: '100em',
//   BigDesktop: '120em',

1em = 16px (as rem does not work in some browssers)

Order: Base + typography > general layout + grid > page layout >componenets
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&family=Work+Sans:wght@400;500;600;700;800&display=swap");
:root {
  --h1: calc(2rem + 1vw);
  --h2: calc(5.5rem + 1vw);
  --h3: calc(3rem + 1vw);
  --h4: calc(0.2rem + 1vw);
  --p: calc(0.2rem + 1vw);
  --bigtext: calc(6rem + 1vw);
  --shadow-dark: 1rem 1rem 4rem rgba(0, 0, 0, 0.5),
    -1rem -1rem 4rem rgba(0, 0, 0, 0.5);
  --line: 1px solid var(--color-grey-light-2);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 64em) {
  :root {
    --h2: calc(6rem + 1vw);
    --h1: calc(3rem + 1vw);
    --h4: calc(1.2rem + 1vw);
    --p: calc(1.2rem + 1vw);
  }
}
@media only screen and (max-width: 48em) {
  :root {
    --h2: calc(6rem + 1vw);
    --h1: calc(3rem + 1vw);
    --h4: calc(1.7rem + 1vw);
    --p: calc(1.2rem + 1vw);
  }
}
@media only screen and (max-width: 37.5em) {
  :root {
    --h2: calc(5rem + 1vw);
    --h1: calc(3rem + 1vw);
    --h4: calc(1.7rem + 1vw);
    --p: calc(1.5rem + 1vw);
  }
}

/* Global Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
  font-size: 62.5%;
}
@media only screen and (min-width: 120em) {
  html {
    font-size: 90%;
  }
}
@media only screen and (max-width: 1900px) {
  html {
    font-size: 85%;
  }
}
@media only screen and (max-width: 100em) {
  html {
    font-size: 80%;
  }
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 48em) {
  html {
    font-size: 50%;
  }
}

li,
button,
label,
input,
p {
  font-size: var(--text);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::selection {
  background-color: #ffb63b;
  color: #fff;
}

body {
  background: #fff2d6;
  overflow-x: hidden;
}

.opening {
  animation: opening 1s ease-in-out;
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeinleft,
.fadeinright,
.opening {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fadeinleft {
  animation: fadeinleft 1s ease-in-out 0.5s;
}

@keyframes fadeinleft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
    filter: blur(10px);
  }
  80% {
    opacity: 1;
    transform: translateX(10%);
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.fadeinright {
  animation: fadeinright 1s ease-in-out 0.5s;
}

@keyframes fadeinright {
  0% {
    opacity: 0;
    transform: translateX(20%);
    filter: blur(10px);
  }
  80% {
    opacity: 1;
    transform: translateX(-10%);
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.moveinup {
  animation: moveinup 1s ease-in-out 1s backwards;
}

@keyframes moveinup {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes tofro {
  0% {
    transform: translateX(-10%);
  }
  50% {
    opacity: 1;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) scale(1.5);
  }
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.u-tc {
  text-align: center !important;
}

.u-mb-2 {
  margin-bottom: 2rem !important;
}

.u-mb-4 {
  margin-bottom: 4rem !important;
}

.u-mb-6 {
  margin-bottom: 6rem !important;
}

.u-mb-8 {
  margin-bottom: 8rem !important;
}

.u-mt-4 {
  margin-top: 4rem !important;
}

.u-mt-6 {
  margin-top: 6rem !important;
}

.u-mt-8 {
  margin-top: 8rem !important;
}

.u-mt-20 {
  margin-top: 20rem !important;
}

.color-primary {
  color: #ffb63b !important;
}

.color-black {
  color: #211e1d;
}

.bg-black {
  background: #211e1d !important;
  color: white !important;
  margin-top: 10rem;
}
@media only screen and (max-width: 64em) {
  .bg-black {
    margin-top: 15rem;
  }
}
@media only screen and (max-width: 48em) {
  .bg-black {
    margin: 15rem 0 4rem 0;
  }
}

.secondary-heading {
  margin-bottom: 1.5rem;
}

h5, h4, h3, h2, h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.desc-text, li,
button,
label,
input,
a,
p, h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: 1.4rem;
  font-weight: 500;
}

li,
button,
label,
input,
a,
p {
  font-size: var(--p);
}

.desc-text {
  color: #211e1d;
  font-weight: 300;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn::after {
  content: " ";
  display: inline-block;
  border-radius: 10rem;
  position: absolute;
  font-size: 1.8rem;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s;
}
.btn--primary {
  background: #ffb63b;
  padding: 1rem 2rem;
  font-weight: 600;
  color: #211e1d;
  border: none;
}
@media only screen and (max-width: 64em) {
  .btn--primary {
    padding: 1rem 4rem;
    font-size: 2rem;
  }
}
.btn--primary-large {
  padding: 1.5rem 8rem;
  font-size: 2.4rem !important;
}
.btn--primary::after {
  background-color: #ffb63b;
}
.btn--secondary {
  background-color: transparent;
  color: #faf9f9;
  padding: 1rem 2rem;
  border: 1px solid #faf9f9;
}
@media only screen and (max-width: 64em) {
  .btn--secondary {
    color: #ffb63b;
    padding: 1rem 4rem;
    border: 2px solid #ffb63b;
    font-size: 2rem;
  }
}
.btn--secondary-outline {
  border: 0.5px solid #ffb63b;
  color: #ffb63b;
  padding: 1rem 5rem;
}
.btn--secondary-outline::after {
  border: 0.5px solid #ffb63b;
}
.btn--secondary::after {
  border: 0.5px solid #faf9f9;
}
@media only screen and (max-width: 64em) {
  .btn--secondary::after {
    padding: 1rem 4rem;
    border: 0.5px solid #ffb63b;
  }
}
.btn--tertiary {
  background-color: rgba(255, 217, 133, 0.9);
  padding: 1rem 3rem;
  font-weight: 700;
  color: #211e1d;
  overflow: hidden;
}
.btn--tertiary::after {
  z-index: -1;
  background-color: #211e1d;
  top: -100%;
  transition: all 0.2s ease-in;
}
.btn--tertiary:hover {
  color: #faf9f9;
}
.btn--tertiary:hover::after {
  top: 0;
  opacity: 1;
}

.btn-text, .btn-text:link, .btn-text:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffb63b;
  border-left: 2px solid #ffb63b;
  padding: 1rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: var(--text);
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
}
.btn-text:active, .btn-text:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-text:hover {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn-text:hover::after {
  transform: translateY(0%);
}
.btn-text::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  transform: translateX(-100%);
  background: #ffb63b;
  z-index: -1;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}
.features > *:not(last-child) {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.feature {
  flex: 1 1 25rem;
  padding: 5rem 1.5rem;
  background: #fff;
  border-radius: 1rem;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (max-width: 64em) {
  .feature {
    flex: 1 1 35rem;
  }
}
.feature img {
  width: 25%;
  height: 35%;
  object-fit: contain;
}
@media only screen and (max-width: 64em) {
  .feature img {
    width: 30%;
  }
}
.feature-content {
  text-align: center;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature-content > *:not(last-child) {
  margin-bottom: 1rem;
}

.package {
  flex: 0 0 30%;
  background: #faf9f9;
  padding: 2rem;
  border-radius: 2rem;
  overflow: hidden;
}
@media only screen and (max-width: 64em) {
  .package {
    min-height: 50vh;
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media only screen and (max-width: 48em) {
  .package {
    min-height: 55vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .package {
    flex: 0 0 90%;
    height: 100%;
    min-height: 60%;
  }
}
.package-header {
  margin-bottom: auto;
  position: relative;
  text-align: center;
}
.package-header__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.package-header-wishicon {
  padding: 1.5rem;
  border-radius: 1.2rem;
  position: absolute;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  top: 1rem;
  right: 2rem;
}
.package-header-wishicon__wishlist {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  fill: #ffb63b;
}
.package-header__price {
  color: #ffb63b;
  background: #faf9f9;
  border-radius: 1rem;
  max-width: 70%;
  margin: auto;
  padding: 1.2rem 2rem;
  position: relative;
  top: -4vh;
  font-size: 1.6rem;
}
@media only screen and (max-width: 64em) {
  .package-header__price {
    top: -2vh;
    font-size: 1.8rem;
  }
}
.package-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.package-content > *:not(last-child) {
  margin-bottom: 1.2rem;
}
.package-content p {
  line-height: 1.2;
}
.package-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
}
.package-card__data {
  flex: 0 0 45%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem auto;
}
.package-card__data svg {
  margin-right: 0.7rem;
}
.package-card__data-icon {
  height: 2rem;
  width: 2rem;
  fill: #ffb63b;
}
.package-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 1.5rem auto;
}
.package-cart-rating {
  color: #ffb63b;
  font-size: 1.4rem;
}

.package__reveal {
  opacity: 0;
  transition: 0.2s all ease-in;
}
.package__reveal--visible {
  opacity: 1;
}

.subscribe {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 2rem;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  width: 83%;
  flex-wrap: wrap;
  color: #ffb63b;
  background: linear-gradient(105deg, #000 0% 20%, #211e1d 50% 75%, #000 85% 100%);
}
@media only screen and (max-width: 48em) {
  .subscribe {
    order: 2;
  }
}
.subscribe-form {
  flex: 0 0 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 30vh;
}
@media only screen and (max-width: 48em) {
  .subscribe-form {
    order: 2;
    flex: 0 1 60rem;
  }
}
.subscribe-form p {
  color: #fff;
}
.subscribe-form svg {
  display: none;
}
.subscribe-form .form {
  width: 100%;
}
.subscribe-form .form .email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 0 1rem;
  border-radius: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .subscribe-form .form .email {
    padding: 0.2rem 0;
    padding-left: 1rem;
  }
}
.subscribe-form .form .email__input {
  padding: 1rem;
  border: none;
  width: 100%;
}
.subscribe-form .form .email__input:focus {
  outline: none;
}
.subscribe-form .form .email button {
  background: #ff9c00;
  border-radius: 1rem;
  padding: 0.5rem;
}
@media only screen and (max-width: 37.5em) {
  .subscribe-form .form .email button {
    padding: 1rem;
    margin-right: 0.2rem;
  }
}
.subscribe-image .image-sub {
  text-align: center;
}
.subscribe-image .image-sub__img {
  width: 70%;
}
@media only screen and (max-width: 48em) {
  .subscribe-image .image-sub__img {
    width: 90%;
  }
}

.section-account {
  min-height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5rem auto;
  max-width: 90%;
}
@media only screen and (max-width: 48em) {
  .content {
    position: relative;
  }
}

.content-settings {
  flex: 0 0 80%;
  min-height: 90vh;
  padding: 10rem 0;
  background: #fff;
}
@media only screen and (max-width: 64em) {
  .content-settings {
    flex: 0 0 70%;
    position: relative;
  }
}
@media only screen and (max-width: 48em) {
  .content-settings {
    flex: 1;
    max-width: 90%;
    padding: 4rem 2rem;
    justify-self: flex-end;
    margin: auto;
  }
}
@media only screen and (max-width: 37.5em) {
  .content-settings {
    max-width: 100%;
    padding: 4rem 0;
    margin: auto;
  }
}

.content-settings__form {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 8rem;
}
@media only screen and (max-width: 48em) {
  .content-settings__form {
    max-width: 90%;
    padding: 0 1rem;
  }
}

.sidebar {
  background-color: #ffd985;
  flex: 0 0 20%;
  padding: 5rem 0 10rem;
  width: 50%;
  z-index: 98;
}
@media only screen and (max-width: 64em) {
  .sidebar {
    flex: 0 0 30%;
  }
}
@media only screen and (max-width: 48em) {
  .sidebar {
    position: absolute;
    top: 0;
    left: -100%;
    flex: 0 0 50%;
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .sidebar {
    display: none;
  }
}
.sidebar .legal {
  width: 80%;
}
.sidebar .legal p {
  font-size: 1.4rem;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 5rem;
}
.side-nav__text {
  color: #211e1d;
  padding: 0 2rem;
}
@media only screen and (max-width: 37.5em) {
  .side-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 48em) {
  .side-nav__item:not(:last-child) {
    margin: 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .side-nav__item {
    width: 100%;
  }
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #ffb63b;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transform-origin: center;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item:active::before {
  background-color: #ffb63b;
}
.side-nav__link:link, .side-nav__link:visited {
  color: #211e1d;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.4rem 3rem;
  display: flex;
  align-items: center;
  z-index: 20;
  position: relative;
}
@media only screen and (max-width: 48em) {
  .side-nav__link:link, .side-nav__link:visited {
    padding: 2rem 4rem;
  }
}
.side-nav__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
  fill: currentColor;
}
@media only screen and (max-width: 37.5em) {
  .side-nav__icon {
    margin-right: 2rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.account__burger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2%;
  right: 3%;
  z-index: 1000;
  padding: 2rem;
  background: #211e1d !important;
  display: none;
}
@media only screen and (max-width: 48em) {
  .account__burger {
    display: block;
  }
}
@media only screen and (max-width: 37.5em) {
  .account__burger {
    display: none;
  }
}
.account__burger--line1, .account__burger--line2 {
  height: 0.3rem;
  width: 3rem;
  background: black;
  margin: 0.5rem;
  pointer-events: none;
  position: relative;
}
.account__burger-menu__icon {
  position: relative;
  height: 2rem;
  width: 2rem;
  fill: #ffb63b;
}

.section-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: auto;
}
.section-contact a {
  color: #ffb63b;
  -webkit-text-stroke: 0.2px #211e1d;
}
@media only screen and (max-width: 37.5em) {
  .section-contact {
    width: 100%;
  }
}
.section-contact .contact {
  flex: 0 0 55%;
  max-width: 60%;
}
@media only screen and (max-width: 64em) {
  .section-contact .contact {
    max-width: 80%;
    flex: 1;
    margin: 5rem auto;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-contact .contact {
    max-width: 100%;
  }
}
.section-contact .contact input {
  max-width: 100% !important;
  width: 100%;
}
.section-contact .contact textarea {
  width: 100%;
  max-width: 100%;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
  background-color: #ffb63b;
}

.alert--error {
  background-color: #f53b38;
}

.billing {
  flex-wrap: wrap;
  width: 90%;
  background: #ffb63b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  padding: 2rem;
}
.billing__card {
  flex: 0 0 30%;
  background: #ffd985;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  text-align: center;
}
.billing__content {
  width: 60%;
}
.billing__content > * {
  margin-bottom: 1rem;
}
.billing__rating-star {
  height: 2rem;
  width: 2rem;
  margin-right: 1px;
}
.billing__rating-star--active {
  fill: #ffb63b;
}
.billing__rating-star--inactive {
  fill: #bbb;
}

.login-form {
  background-image: linear-gradient(to right top, rgba(255, 217, 133, 0.8), rgba(255, 156, 0, 0.4));
  margin: 8rem auto;
  max-width: 45%;
  background-color: #fff;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 2rem 4rem;
  border-radius: 5px;
}
@media only screen and (max-width: 37.5em) {
  .login-form {
    max-width: 90%;
    margin: 5rem auto;
  }
}
.login-form h3 {
  font-size: 3.5rem;
}

.form__input {
  display: block;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 90%;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
}
@media only screen and (max-width: 64em) {
  .form__input {
    max-width: 90%;
  }
}
@media only screen and (max-width: 48em) {
  .form__input {
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #45eb7c;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff4f30;
}
.form__input::-webkit-input-placeholder {
  color: #bdbdbd;
}

.form__group {
  width: 100%;
}
.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}
.form__group svg {
  position: absolute;
  margin-left: 4rem;
  left: 8rem;
  z-index: 10;
}
.form__group--upload {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 1.6rem;
}
.form__group-user__photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}
.form__group-user__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.form__group-user__label {
  margin-left: 5rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ffb63b;
  padding: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.form__group-user__label:hover {
  background-color: #ffb63b;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.form__group-user__upload:focus .form__group-user__label {
  outline: 10px solid #ffb63b;
  outline-offset: 3px;
}
.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.section-review {
  min-height: 10vh;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.section-review::-webkit-scrollbar {
  width: 0.3rem;
}
.section-review::-webkit-scrollbar-track {
  background: #211e1d;
}
.section-review::-webkit-scrollbar-thumb {
  background: #ffb63b;
}
.section-review::-webkit-scrollbar-thumb:hover {
  background: #ffd985;
  cursor: pointer;
}

.review {
  flex-wrap: wrap;
  padding: 5rem 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #f0eeee;
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.review__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  width: 30%;
}
.review__card-avatar__img {
  height: 8rem;
  border-radius: 5rem;
}
.review__content {
  width: 70%;
}
.review__content > * {
  margin-bottom: 1rem;
}
.review__content-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.review__content-btns > *:not(last-child) {
  margin-right: 1rem;
}
.review__rating-star {
  height: 2rem;
  width: 2rem;
  margin-right: 1px;
}
.review__rating-star--active {
  fill: #ffb63b;
}
.review__rating-star--inactive {
  fill: #bbb;
}

.login-form {
  background-image: linear-gradient(to right top, rgba(255, 217, 133, 0.8), rgba(255, 156, 0, 0.4));
  margin: 8rem auto;
  max-width: 45%;
  background-color: #fff;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 2rem 4rem;
  border-radius: 5px;
}
@media only screen and (max-width: 37.5em) {
  .login-form {
    max-width: 90%;
    margin: 5rem auto;
  }
}
.login-form h3 {
  font-size: 3.5rem;
}

.form__input {
  display: block;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 90%;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
}
@media only screen and (max-width: 64em) {
  .form__input {
    max-width: 90%;
  }
}
@media only screen and (max-width: 48em) {
  .form__input {
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #45eb7c;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff4f30;
}
.form__input::-webkit-input-placeholder {
  color: #bdbdbd;
}

.form__group {
  width: 100%;
}
.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}
.form__group svg {
  position: absolute;
  margin-left: 4rem;
  left: 8rem;
  z-index: 10;
}
.form__group--upload {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 1.6rem;
}
.form__group-user__photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}
.form__group-user__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.form__group-user__label {
  margin-left: 5rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ffb63b;
  padding: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.form__group-user__label:hover {
  background-color: #ffb63b;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.form__group-user__upload:focus .form__group-user__label {
  outline: 10px solid #ffb63b;
  outline-offset: 3px;
}
.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.plan-settings {
  max-width: 100% !important;
}

.plan-review {
  border: 1px solid #f0eeee;
  box-shadow: 0 1rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  padding: 2rem;
  border-radius: 2rem;
}
.plan-review textarea {
  width: 100% !important;
}

.plan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}
@media only screen and (max-width: 64em) {
  .plan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.plan-image {
  flex: 0 0 40%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.plan-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.plan-content {
  flex: 0 0 60%;
  height: 30%;
  width: 100%;
}

.section-onboard {
  background: linear-gradient(to bottom, #000, #211e1d);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 299;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
}

.screen-window {
  border-radius: 1rem;
  border: 0.5rem solid #ffb63b;
  width: 40rem;
  height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #211e1d;
  position: relative;
}
@media only screen and (min-width: 1600px) {
  .screen-window {
    width: 55rem;
  }
}
@media only screen and (max-width: 64em) {
  .screen-window {
    height: 57%;
    width: 50rem;
  }
}
@media only screen and (max-width: 48em) {
  .screen-window {
    height: 80vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .screen-window {
    height: 100vh;
    width: 100%;
  }
}

.board {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffe8b5;
  position: relative;
}
@media only screen and (max-width: 64em) {
  .board {
    height: 57vh;
    max-width: 50rem;
  }
}
@media only screen and (max-width: 48em) {
  .board {
    height: 80vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .board {
    height: 100vh;
    max-width: 100%;
  }
}
.board-1 {
  display: none;
}
.board-2 {
  display: none;
}
.board-3 {
  display: none;
}
.board-image {
  width: 100%;
  height: 60%;
  object-fit: contain;
}
.board-screen {
  height: 40%;
}
.board-screen .feature {
  height: 100%;
  border-radius: 0;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}
.board-screen p {
  max-width: 90%;
  padding: 1rem 0;
}
.board .skip-text {
  font-size: 2rem;
  color: #211e1d;
}
.board .skip-text-intro {
  cursor: pointer;
}
.board .skip-text-intro:hover {
  color: #000;
}

.board-welcome {
  background: #ffd985;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.board-welcome-title {
  text-shadow: 1px 0.5px 3px #211e1d, 1px 1.5px 5px #211e1d;
  color: #211e1d;
}
.board-welcome-heading {
  position: absolute;
  z-index: 800;
}
.board-welcome-screen {
  width: 100%;
  height: 50%;
  background: #211e1d;
  position: absolute;
  left: 0;
}
.board-welcome-screen-1 {
  top: 0;
}
.board-welcome-screen-2 {
  top: 50%;
}

html {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: #211e1d;
}
html::-webkit-scrollbar-thumb {
  background: #ffb63b;
  background-image: url(pin.f9d2ef1d.png);
}
html::-webkit-scrollbar-thumb:hover {
  background: #ffd985;
  cursor: pointer;
}

:root {
  transition-timing-function: cubic-bezier(0.5, 0.7, 0.4, 1);
}

.review-number {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.review-number *:not(:last-child) {
  margin-right: 3rem;
}

.review-number__slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 30%;
  position: relative;
  background: #585858;
  cursor: pointer;
  border-radius: 1rem;
}
.review-number__slider:focus {
  outline: none;
}
.review-number__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  background: #ffb63b;
  cursor: pointer;
}

.review-number__rating {
  color: #ffb63b;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  z-index: 100;
}
@media only screen and (max-width: 64em) {
  .header {
    overflow-x: hidden;
  }
}
.header-logo {
  flex: 0 0 10%;
  margin-right: auto;
  cursor: pointer;
  z-index: 400;
}
.header-logo img {
  padding: 1rem;
  height: 5rem;
  border-radius: 1rem;
  margin-right: auto;
}
@media only screen and (max-width: 48em) {
  .header-logo {
    flex: 0 0 20%;
  }
}
@media only screen and (max-width: 37.5em) {
  .header-logo {
    flex: 0 0 10%;
    background: #211e1d;
    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 1px 10px 10px #ffb63b;
  }
}
.header-menu {
  flex: 0 0 50%;
}
@media only screen and (max-width: 64em) {
  .header-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200 !important;
    background: white;
    clip-path: circle(50px at 100% -50%);
    -webkit-clip-path: circle(50px at 100% -50%);
  }
}
@media only screen and (max-width: 48em) {
  .header-menu {
    flex: 0 0 20%;
  }
}
.header-menu .navigation {
  width: 60%;
}
@media only screen and (max-width: 64em) {
  .header-menu .navigation {
    width: 100%;
  }
}
.header-menu .navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}
@media only screen and (max-width: 64em) {
  .header-menu .navigation-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.header-menu .navigation-list__item-link {
  color: #f4f2f2;
}
@media only screen and (max-width: 64em) {
  .header-menu .navigation-list__item-link {
    color: #211e1d;
    font-size: 5rem;
    line-height: 1.5;
  }
}
.header-menu .navigation-list__item-link:hover {
  color: #ffb63b;
  text-shadow: 2px 2px 4px #000;
}

.mobile-menu {
  display: flex;
}
@media only screen and (max-width: 64em) {
  .mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 0 55%;
  }
}
@media only screen and (max-width: 48em) {
  .mobile-menu {
    flex: 0 0 70%;
  }
}
@media only screen and (max-width: 37.5em) {
  .mobile-menu {
    background: #211e1d;
    position: fixed;
    bottom: -0.5rem;
    height: 10vh;
    width: 100%;
    z-index: 1100 !important;
    padding: 0 1rem;
  }
}
.mobile-menu .header__burger {
  display: none;
  padding: 1rem 1.2rem;
  border-radius: 1.2rem;
  cursor: pointer;
  border: 1px solid #ffb63b;
  text-align: center;
}
@media only screen and (max-width: 64em) {
  .mobile-menu .header__burger {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 37.5em) {
  .mobile-menu .header__burger {
    flex: 0 0 5%;
    justify-self: flex-end;
  }
}
.mobile-menu .header__burger--line1, .mobile-menu .header__burger--line2 {
  height: 0.2rem;
  width: 2rem;
  background: #ffb63b;
  margin: 0.5rem;
  pointer-events: none;
  position: relative;
}
.mobile-menu .accounts {
  z-index: 400;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.mobile-menu .accounts > * {
  margin-right: 1rem;
}
@media only screen and (max-width: 64em) {
  .mobile-menu .accounts {
    flex: 0 0 60%;
  }
}
@media only screen and (max-width: 37.5em) {
  .mobile-menu .accounts {
    flex: 0 0 80%;
    margin-right: auto;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.mobile-menu .accounts-profile {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1rem #fff !important;
}
@media only screen and (max-width: 37.5em) {
  .mobile-menu .accounts-profile {
    margin-right: 0;
    margin-left: 0;
  }
}
.mobile-menu .accounts-profile div {
  cursor: pointer;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (max-width: 37.5em) {
  .mobile-menu .accounts-profile div {
    margin: 0 1rem;
  }
}
.mobile-menu .accounts-profile div h4 a {
  color: #ffb63b;
}
.mobile-menu .accounts-profile div p a {
  font-size: 1.4rem;
  cursor: pointer;
  color: #faf9f9;
}
.mobile-menu .accounts-profile-menulist {
  padding: 1rem;
  border-radius: 1.2rem;
  cursor: pointer;
  border: 1px solid #ffb63b;
}
.mobile-menu .accounts-profile svg {
  width: 2rem;
  height: 2rem;
  fill: #ffb63b;
  pointer-events: none;
}
.mobile-menu .accounts-profile-user, .mobile-menu .accounts-profile-user:link, .mobile-menu .accounts-profile-user:visited {
  box-shadow: 0 0.2rem 1rem #ffb63b !important;
  border-radius: 5rem;
  color: #ffb63b;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  font-weight: 600;
  background: none;
  border: var(--line);
  cursor: pointer;
  font-family: inherit;
}
.mobile-menu .accounts-profile-user img, .mobile-menu .accounts-profile-user:link img, .mobile-menu .accounts-profile-user:visited img {
  box-shadow: 0 0.1rem 0.4rem #000 !important;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.mobile-menu .accounts-wishlist {
  flex: 0 0 10%;
  padding: 1rem;
  border-radius: 1.2rem;
  cursor: pointer;
  border: 1px solid #ffb63b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mobile-menu .accounts-wishlist-logout {
  background: #ffb63b;
}
.mobile-menu .accounts-wishlist-logout svg {
  fill: #211e1d;
}
.mobile-menu .accounts-wishlist__wishicon {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  fill: #ffb63b;
}

.user-navigation {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 100%;
  z-index: 99;
  background: #ffd985;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-navigation ul {
  width: 40%;
}
@media only screen and (max-width: 37.5em) {
  .user-navigation ul {
    width: 100%;
  }
}
.user-navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}
.user-navigation-list__item-link {
  color: #f4f2f2;
}
@media only screen and (max-width: 64em) {
  .user-navigation-list__item-link {
    color: #211e1d;
    font-size: 5rem;
    line-height: 1.5;
  }
}
.user-navigation-list__item-link:hover {
  color: #ffb63b;
  text-shadow: 2px 2px 4px #000;
}

.intro {
  text-align: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 800;
}

.hero-image {
  width: 100%;
  position: relative;
  height: 110vh;
  top: -20vh;
  object-fit: cover;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
}
@media only screen and (max-width: 37.5em) {
  .hero-image {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.hero-content {
  position: absolute;
  top: 50%;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #faf9f9;
  text-align: center;
}
@media only screen and (max-width: 64em) {
  .hero-content {
    width: 60%;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero-content {
    width: 90%;
  }
}
.hero-content__heading {
  line-height: 1.2;
}
.hero-content__subheading {
  max-width: 50rem;
  margin: 0.5rem auto;
  padding: 1rem 0;
  font-weight: 500;
  line-height: 1.5;
}
@media only screen and (max-width: 64em) {
  .hero-content__subheading {
    max-width: 100%;
  }
}
.hero-content button {
  margin-top: 2rem;
  font-weight: 600;
}
.hero__slide {
  background: #211e1d;
  width: 100%;
  height: 55%;
  z-index: 400;
  position: fixed;
}
.hero__slide__heading {
  position: absolute;
  z-index: 410;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffb63b;
}
.hero__slide--1 {
  top: 0;
  left: 0;
}
.hero__slide--2 {
  top: 48%;
  left: 0;
}
.hero__slide__logo {
  position: absolute;
  top: 5%;
  z-index: 500;
  left: 45%;
}
.hero__slide__logo img {
  background: #ffb63b;
  padding: 1rem;
  border-radius: 8rem;
  transform: scale(2);
  box-shadow: 1px 2px 4px #ffb63b;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  position: relative;
}
.footer-text {
  flex: 0 0 40rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
@media only screen and (max-width: 64em) {
  .footer-text {
    flex: 1 0 100%;
  }
}
.footer-text p {
  line-height: 1.5;
  padding-top: 0rem;
}
.footer-text h4 {
  margin-top: 2rem;
  line-height: 1.5;
}
.footer-text-apps {
  margin-top: 1rem;
}
.footer-text-apps > *:not(:last-child) {
  margin-right: 2rem;
}
.footer-text-apps img {
  width: 30%;
}
@media only screen and (max-width: 37.5em) {
  .footer-text-apps img {
    width: 40%;
  }
}
.footer-links {
  flex: 0.9 0 40rem;
  align-self: flex-start;
  margin-top: 4rem;
}
@media only screen and (max-width: 64em) {
  .footer-links {
    flex: 1 0 50%;
  }
}
.footer-links-scrollbtn {
  position: absolute;
  top: -7rem;
  right: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background: #211e1d;
  cursor: pointer;
}
.footer-links-scrollbtn svg {
  height: 3rem;
  width: 3rem;
  fill: #ffb63b;
  pointer-events: none;
}
.footer-links-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer-links-nav__list {
  flex: 1 1 15rem;
}
@media only screen and (max-width: 64em) {
  .footer-links-nav__list {
    padding: 0 1rem;
  }
  .footer-links-nav__list:not(:last-child) {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer-links-nav__list {
    flex: 1 1 55rem;
  }
}
.footer-links-nav__list-item {
  color: #211e1d;
  font-size: 1.4rem;
}
@media only screen and (max-width: 64em) {
  .footer-links-nav__list-item {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 48em) {
  .footer-links-nav__list-item {
    font-size: 2rem;
  }
}

.copyright {
  text-align: center;
  padding: 2rem 0 0;
  font-size: 1.4rem;
}

.cities-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  top: 2rem;
}
@media only screen and (max-width: 64em) {
  .cities-image img {
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .cities-image {
    display: none;
  }
}

.fixed-header {
  position: fixed !important;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 80% 80%;
  z-index: 1000;
}

.cursor.header--active {
  background: #ffb63b;
  transform: scale(3);
  z-index: -1;
}

.cursor.explore--active {
  background: #fff;
  transform: scale(3);
}

@keyframes pulse {
  0% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
  }
  50% {
    opacity: 0.9;
    height: 3em;
    width: 3em;
  }
  100% {
    opacity: 0.2;
    height: 2em;
    width: 2em;
  }
}
.section-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 400;
  display: none;
}
.section-loader-1 {
  height: 52vh;
  width: 100%;
  top: 0%;
  transform: translateY(-100%);
  position: absolute;
  background: #ffd985;
}
.section-loader-2 {
  height: 50vh;
  width: 100%;
  top: 100%;
  position: absolute;
  background: #ffd985;
}
.section-loader .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 800;
  transform: translate(-50%, -50%);
  width: 30rem;
  border: 4px solid #211e1d;
  border-radius: 5rem;
  opacity: 0;
}
.section-loader .loader-line {
  width: 40rem;
  border-radius: 5rem;
  background: #ff9c00;
  height: 4px;
  transform: translateX(-100%);
}

@keyframes loader {
  from {
    transform: translateX(-20rem);
  }
  to {
    transform: translateX(0rem);
  }
}
.wish {
  position: absolute;
  width: 25%;
  top: 10%;
  right: -25%;
  height: 100%;
  background: #fff;
  z-index: 50;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.wish-menu {
  padding: 2rem;
  width: 100%;
  border-bottom: 2px solid #211e1d;
}

.section-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  z-index: 100;
}
.section-header--background {
  background: rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 37.5em) {
  .section-header--background {
    background: none;
  }
}
.section-header--transparent {
  background: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 37.5em) {
  .section-header--transparent {
    background: none;
  }
}
.section-header--sticky {
  position: fixed;
}

.section-hero {
  min-height: 100vh;
  width: 100%;
}

.section-features {
  min-height: 40vh;
  position: relative;
  top: -35vh;
}
@media only screen and (max-width: 64em) {
  .section-features {
    top: -45vh;
  }
}

.section-tours {
  min-height: 80vh;
  margin-top: -10vh;
}
@media only screen and (max-width: 64em) {
  .section-tours {
    margin-top: -15vh;
  }
}
.section-tours .header-tour {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
  margin-top: -10vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 156, 0, 0.4));
}
@media only screen and (max-width: 37.5em) {
  .section-tours .header-tour {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media only screen and (max-width: 64em) {
  .all-tours-padding {
    padding-top: 30rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .all-tours-padding {
    padding-top: 5rem;
  }
}

.tour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tour-heading {
  min-height: 20vh;
  top: -15vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 55rem;
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  .tour-heading {
    padding: 0 2rem;
  }
}
.tour-packages {
  max-width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
  grid-gap: 2rem;
  margin: 0 auto;
}
@media only screen and (max-width: 1300px) {
  .tour-packages {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 64em) {
  .tour-packages {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 37.5em) {
  .tour-packages {
    grid-template-columns: 1fr;
  }
}

.section-subscription {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 64em) {
  .section-subscription {
    min-height: 60vh;
  }
}
@media only screen and (max-width: 48em) {
  .section-subscription {
    min-height: 85vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-subscription {
    min-height: 100vh;
  }
}

.section-footer {
  background: rgba(255, 217, 133, 0.7);
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  padding: 4rem;
}

body.hide {
  overflow-x: hidden;
}

.section-tour {
  height: 90vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 156, 0, 0.4));
  overflow: hidden;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
  margin-top: -15vh;
}
@media only screen and (max-width: 37.5em) {
  .section-tour {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.section-tour img {
  z-index: -1;
  width: 100%;
  height: 90;
  position: relative;
  position: center center;
  object-fit: cover;
}

.heading-box {
  color: #f7f7f7;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .heading-box {
    flex-wrap: wrap;
  }
}
.heading-box__detail {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 37.5em) {
  .heading-box__detail {
    flex: 0 0 100%;
    justify-content: center;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}
.heading-box__detail svg {
  margin-right: 0.8rem;
}
.heading-box__detail:not(:last-child) {
  margin-right: 4rem;
}
.heading-box__icon {
  height: 2rem;
  width: 2rem;
  fill: currentColor;
  filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
}

.section-description {
  min-height: 80vh;
  max-width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 64em) {
  .section-description {
    height: auto;
  }
}
@media only screen and (max-width: 48em) {
  .section-description {
    min-height: 70vh;
    padding: 6rem 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-description {
    min-height: 100vh;
    padding: 4rem 0;
  }
}

.section-description--about {
  margin: -10vh auto 0 auto;
}

.tour-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 50%;
}
@media only screen and (max-width: 64em) {
  .tour-desc {
    flex: 0 0 100%;
  }
}
@media only screen and (max-width: 48em) {
  .tour-desc {
    flex: 0 0 100%;
    width: 90%;
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .tour-desc {
    width: 100%;
  }
}
.tour-desc__info-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 0 50%;
  width: 100%;
}
@media only screen and (max-width: 64em) {
  .tour-desc__info-box .package-card__data {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 48em) {
  .tour-desc__info-box {
    flex: 0 0 100%;
    width: 90%;
  }
}
.tour-desc__info-box .info-guides {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 50%;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 64em) {
  .tour-desc__info-box .info-guides {
    margin-bottom: 2rem;
  }
}
.tour-desc__info-box .info-guides__user {
  margin: 0.5rem 1rem;
}
.tour-desc__info-box .info-guides div h4 {
  color: #ffb63b;
  font-size: 1.5rem;
  font-weight: 400;
}
.tour-desc__info-box .info-guides div h4 span {
  color: #211e1d;
  font-weight: 400;
  display: block;
}
.tour-desc__info-box .info-guides div p {
  font-size: 1.4rem;
}
.tour-desc h1 {
  display: block;
  width: 100%;
}
.tour-desc img {
  box-shadow: var(--shadow-light);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.tour-desc p span {
  font-weight: 600;
}
.tour-text {
  flex: 0 0 50%;
  max-width: 80%;
  line-height: 1.5;
}
@media only screen and (max-width: 64em) {
  .tour-text {
    padding: 0rem 2rem;
    flex: 0 0 100%;
  }
}
@media only screen and (max-width: 48em) {
  .tour-text {
    flex: 0 0 100%;
    padding: 0rem;
    max-width: 90%;
  }
}
.tour-text p:not(:last-child) {
  margin-bottom: 2rem;
}

.section-pictures {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;
  height: 50vh;
}

.picture-box {
  overflow: hidden;
  flex: 1 0 33%;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 48em) {
  .picture-box {
    flex: 1 0 50%;
  }
}
.picture-box__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 5s ease-in;
}
.picture-box__img :hover {
  transform: scale(2);
}

.section-map {
  position: relative;
  height: 70vh;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 25rem;
}

.mapboxgl-popup-content {
  text-align: center;
  padding: 1.5rem !important;
  font-size: 1.4rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}

.reviews {
  padding: 5rem 0;
  display: grid;
  grid-column-gap: 6rem;
  grid-auto-flow: column;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.reviews::-webkit-scrollbar {
  width: 0.5rem;
}
.reviews::-webkit-scrollbar-track {
  background: #211e1d;
}
.reviews::-webkit-scrollbar-thumb {
  background: #ffb63b;
}
.reviews::-webkit-scrollbar-thumb:hover {
  background: #ffd985;
  cursor: pointer;
}

.reviews__card {
  width: 30rem;
  padding: 4rem;
  background-color: #f7f7f7;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.reviews:before,
.reviews:after {
  content: "";
  width: 2rem;
}

.reviews__avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.reviews__avatar-img {
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.reviews__user {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.reviews__text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: 400;
}

.reviews__rating {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__star {
  height: 2rem;
  width: 2rem;
  margin-right: 1px;
}

.reviews__star--active {
  fill: #ffb63b;
}

.reviews__star--inactive {
  fill: #bbb;
}

.section-book-tour {
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 64em) {
  .section-book-tour {
    min-height: 50vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-book-tour {
    min-height: 80vh;
  }
}

.book {
  overflow: hidden;
  position: relative;
  height: 40vh;
  border-radius: 2rem;
  width: 80%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
  background: linear-gradient(105deg, #211e1d 0% 30%, #000 60% 100%);
  flex-wrap: wrap;
}
@media only screen and (max-width: 64em) {
  .book {
    height: 25vh;
  }
}
@media only screen and (max-width: 48em) {
  .book {
    height: 30vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .book {
    height: 45vh;
  }
}
.book-tour {
  flex: 0 0 45%;
  margin-left: auto;
}
@media only screen and (max-width: 64em) {
  .book-tour {
    flex: 0 0 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .book-tour {
    flex: 0 0 100%;
    margin-left: 0;
    text-align: center;
    padding: 0 1rem;
    margin-top: 2rem;
  }
}
.book-tour h3 {
  color: #ffb63b;
}
.book-tour p {
  color: #faf9f9;
}
.book-tour__img {
  height: 15rem;
  width: 15rem;
  position: absolute;
  top: 15%;
  left: -1%;
  border-radius: 50%;
  -webkit-box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
  box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 37.5em) {
  .book-tour__img {
    top: 2%;
    left: 40%;
    height: 8rem;
    width: 8rem;
  }
}
.book-tour__img--logo {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right bottom, #000, #ffb63b);
  z-index: 10;
  transform: translate(-20%, -20%);
}
@media only screen and (max-width: 37.5em) {
  .book-tour__img--logo {
    transform: translate(-40%, -45%);
  }
}
.book-tour__img--logo img {
  width: 100%;
}
.book-tour__img--1 {
  transform: translate(-20%, 25%) scale(0.97);
  z-index: 9;
}
@media only screen and (max-width: 37.5em) {
  .book-tour__img--1 {
    transform: translate(10%, -35%) scale(0.97);
  }
}
.book-tour__img--2 {
  transform: translate(-20%, 55%) scale(0.9);
  z-index: 8;
}
@media only screen and (max-width: 37.5em) {
  .book-tour__img--2 {
    transform: translate(60%, -40%) scale(0.9);
  }
}
.book-cta {
  flex: 0 0 40%;
}
@media only screen and (max-width: 64em) {
  .book-cta {
    flex: 0 0 80%;
    text-align: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .book-cta {
    flex: 0 0 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .book-cta a {
    padding: 1rem 3rem;
  }
}

/*# sourceMappingURL=bundle.css.map */