.section-features
    .features
        .feature
            img(src='/img/svg/bonfire.svg' alt='bonfire camping')
            .feature-content
                h4.secondary-heading Camping & Day Use
                p.desc-text Discover new camping spots that are right for you.
        .feature
            img(src='/img/svg/tickets.svg' alt='tours tickets')
            .feature-content
                h4.secondary-heading Tours & Tickets
                p.desc-text Book tours and tickets to participate in events.
        .feature
            img(src='/img/svg/permits.svg' alt='permits camping')
            .feature-content
                h4.secondary-heading Permits
                p.desc-text Get exclusive permits for access to high-demand locations.
        .feature
            img(src='/img/svg/fishing.svg' alt='recreational activities camping')
            .feature-content
                h4.secondary-heading Recreation Activities
                p.desc-text Find the best spots for fishing, surfing or recreational activities.
