.section-onboard
    .screen-window
        .board.board-welcome
            //- .board-welcome-screen.board-welcome-screen-1
            //- .board-welcome-screen.board-welcome-screen-2
            h3.u-tc.board-welcome-heading.color-primary 
            img.u-mt-4(src='/img/svg/logo-dark.svg' alt='bonfire camping')
            .board-screen.board-screen-1.u-tc.u-mt-4
                h4.secondary-heading Welcome
                h2.board-welcome-title.u-mt-2 Aloha Travels
            a.skip-text.skip-text-loading.u-mb-4 L  
        .board.board-1
            img.board-image(sizes='600px ' srcset='\./img/img/onboard-screen-1.png  600w, \./img/img/onboard-screen-1-2x.png 900w\  ' alt='Find the destin hero camping background image')
            .board-screen.board-screen-1
                .feature
                    h6.color-primary.u-mb-2 1 of 3
                    .feature-content
                        h4.secondary-heading Find Your Destination
                        p.desc-text Select the tour of your choice according to date, participants and price.
                        a.btn.btn--tertiary.btn-screen-1.u-mt-2 Next
                        a.skip-text.skip-text-intro Skip
        .board.board-2
            img.board-image(sizes='600px ' srcset='\./img/img/onboard-screen-2.png  600w, \./img/img/onboard-screen-2-2x.png 900w\  ' alt='Find the destin hero camping background image')
            .board-screen.board-screen-2
                .feature
                    h6.color-primary 2 of 3
                    .feature-content
                        h4.secondary-heading Book Your Tour
                        p.desc-text Book the tour and recieves all the preliminary details before the start of the tour.
                        a.btn.btn--tertiary.btn-screen-2.u-mt-2 Next
                        a.skip-text.skip-text-intro Skip
        .board.board-3
            img.board-image(sizes='600px ' srcset='\./img/img/onboard-screen-3.png  600w, \./img/img/onboard-screen-3-2x.png 900w\  ' alt='Find the destin hero camping background image')
            .board-screen.board-screen-3
                .feature
                    h6.color-primary 3 of 3
                    .feature-content
                        h4.secondary-heading  Enjoy Your Holiday
                        p.desc-text Experience the ultimate adventure with experienced tour guides.
                        a.btn.btn--primary.u-mt-2.skip-to-home Let's Go