.section-subscription
    .subscribe
        .subscribe-form
            h1.secondary-heading Let&apos;s Stay in Touch
            p.desc-text Get travel planning ideas, helpful tips, and stories from our visitors delivered right to your inbox.
            form.form(action='')
                .email
                    img(src='./img/svg/email.svg' alt='')
                    input.email__input(type='email' placeholder='Email Address')
                    button.btn.btn--secondary.btn--secondary-submit(type='submit')
                        img(src='./img/svg/sub-button.svg' alt='')
        .subscribe-image
            .image-sub
                img.image-sub__img(src='./img/frontend/subscribe.png' alt='subscribe')
