extends base
    
block content
    .all-tours-padding
    .section-tours
        .tour
            .tour-heading
                img.u-mt-20(src='/img/svg/all-tours.svg' alt='all tours')
                h1.tour-heading__secondary All Tour Destinations <br/> &amp; Activities
            include components/_tours
    include components/_subscribe
