extends base

block content
    .login-form
        h3.u-mb-4 Reset Password
        form.form.reset-password-account
            .form__group
                label.form__label(for='token') Token
                input#token-password.form__input(type='text', placeholder='Enter token from the email', required)
            .form__group.u-mb-4    
                label.form__label(for='password') New Password
                input#reset-password.form__input(type='password', placeholder='••••••••', required, minlength='8' autocomplete)
            .form__group.u-mb-4    
                label.form__label(for='password') Confirm New Password
                input#reset-password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8' autocomplete)
            .form__group.u-mt-4
                button.btn.btn--primary.reset-password-btn Reset Password